#aggregations {
  height: calc(100% - 40px);
  max-height: 800px;
  width: 100%;
  max-width: calc(100% - 40px);
  transition: opacity 1s;
}

#aggregation-tab-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;
}

#aggregation-tab-wrapper button p {
  color: var(--white-2);
  transition: color 0.2s;
}
#aggregation-tab-wrapper button:focus {
  outline: none;
}
#aggregation-tab-wrapper button:hover p, #aggregation-tab-wrapper button:focus p {
  color: var(--white);
}
#aggregation-tab-wrapper button.active p {
  color: var(--blue);
}

#data-comparison {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}