.divider {
  display: flex;
  justify-content: center;
  gap: 12%;
  margin: 100px 0 0 0;
}

.divider > div {
  transition: opacity 1s;
}

#confusion-table {
  height: 260px;
  width: 430px;
}
#aoc-label {
  position: absolute;
  right: 10px;
  bottom: 40px;
}