#app {
  height: calc(98% - 76px);
  display: flex;
  align-items: center;
}

.module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 650px;
  justify-content: space-evenly;
  width: 100%;
  max-width: calc(100% - 40px);
}

.data-bar-title {
  margin: 0 0 20px 0;
  flex: 0 1 10px;
}
.data-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
  width: 1010px;
  border: 1px solid var(--white);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: opacity 1s;
  margin: 0 auto;
}
.data-bar.shrink {
  width: 0;
  opacity: 0;
}

.data-bar-fill {
  position: absolute;
  height: 105px;
  width: 1010px;
  top: 0;
  right: 0;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 15px,
    var(--red) 15px,
    var(--red) 20px
  );
  transform-origin: right;
  transition: width 0.5s;
}
.data-bar-fill.green {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 15px,
    var(--green) 15px,
    var(--green) 20px
  );  
}

.next-page-button {
  height: 76px;
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}
.next-page-button p {
  color: var(--white-3);
}
