@font-face {
  font-family: VT323;
  src: url("./assets/VT323-Regular.ttf");
}

:root {
  --purp: #222439;
  --white: #f7ebec;
  --white-2: #767071;
  --white-3: #a6a0a1;
  --blue: #758ecd;
  --red: #db3a34;
  --green: #81f499;
}

.largetxt {
  font-size: 48px;
}
.mediumtxt {
  font-size: 36px;
}
.smalltxt {
  font-size: 30px;
}

.bluetxt {
  color: var(--blue);
}
.redtxt {
  color: var(--red);
}
.greentxt {
  color: var(--green);
}
.greytxt {
  color: var(--white-2);
}

.typeout, .hide {
  opacity: 0;
}
.shrink {
  width: 0px !important;
}

* {
  padding: 0;
  margin: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
  background-color: var(--purp);
  overflow-x: hidden;
  transition: background-color 0.2s;
}

h1, h2, h3, h4, h5, p, button, input, span, div, a {
  color: var(--white);
  font-weight: normal;
  font-family: 'VT323', monospace;
  font-size: 36px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: large;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
